Enter your details below to register.

<% if @errors %>
  <br/>
  <br/>
  <b style="color: red;">Errors</b>
  <ul style="color: red;">
    <% @errors.each do |field, errors| %>
      <li><%= "#{field}, #{errors.join(', ')}" %></li>
    <% end %>
  </ul>
<% end %>

<form action="/users/register" method="POST">
  <label for="name">Full Name:</label><br>
  <input type="text" id="name" name="name" required><br><br>

  <label for="national_id">National ID:</label><br>
  <input type="text" id="national_id" name="national_id" required><br><br>

  <label for="phone_number">Phone number:</label><br>
  <input type="text" id="phone_number" name="phone_number" required><br><br>

  <label for="pin">PIN:</label><br>
  <input type="password" id="pin" name="pin" required><br><br>

  <input type="submit" value="Submit">
</form>

<br/>
<br/>
<%= link_to 'Home', '/' %><br/>
<%= link_to 'Contact details', '/static_pages/contact_us' %><br/>
